/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(//asciidoctor.org/stylesheets/asciidoctor.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */

:root{
    --maincolor:#FFFFFF;
    --primarycolor:#9E9E9E; /* Grey 500 */
    --secondarycolor:#ba3925;
    --tertiarycolor: #186d7a;
    --sidebarbackground:#212121; /* Grey 900 */
    --linkcolor:#EEEEEE; /* Grey 200 */
    --linkcoloralternate:#f44336;
    --white:#FFFFFF;
    --black:#000000;
}

body{font-family: "Noto Sans",sans-serif;}

#header{background-color:var(--primarycolor); padding:25px;max-width: none;}
#footer{background-color: var(--sidebarbackground);}
h1,h2,h3{background-color:var(--primarycolor);color:var(--white) !important;font-family:"Noto Sans",sans-serif;text-decoration:none;padding:10px;}
h4,h5,h6{color:var(--primarycolor);}
.title{color:var(--sidebarbackground) !important;font-family:"Noto Sans",sans-serif;font-style: normal; font-weight: normal;}
p{font-family: "Noto Sans",sans-serif ! important}
#toc.toc2 a:link{color:white;}

a {
    text-decoration: none;
    color: var(--linkcolor);
}
a:hover {
    color: var(--sidebarbackground);
}
.quoteblock blockquote::before {
    color: var(--linkcolor);
}
mark {
    color: var(--white);
    background-color: var(--linkcolor);
}

/* Card styling */
.sect1{border-bottom:1px solid grey;border-radius:8px;}

/* Table styles */
th{background-color: var(--linkcolor);color:#FFFFFF;}

#toc.toc2{background-color:var(--sidebarbackground);color:white !important;}
#toc.toc2.a{color:var(--white);}
#toc.toc2.a:active{color:var(--white) !important;}
#toc.toc2.a:visited{color:var(--white) !important;}
#toctitle{color:white;font-size: 16px;}

/* Responsiveness fixes */
video {
    max-width: 100%;
}

@media all and (max-width: 600px) {
    table {
        width: 55vw !important;
        font-size: 3vw;
    }
}
